# Group 3 Project LMU CMSI Database Systems 620 
# Fall 2023, Professor Latif, November 20, 2023

- Presentation and Project Database Engines 
    * Postgres
    * MySQL
    * Spark



1. Dataset 1 from Brittany and Tanya
    * Climate Change: Earth Surface Temperature Data Climate Change: Earth Surface Temperature Data (Kaggle)
    * This dataset is 89 MB with global temperatures since 1750
    

1. Dataset 2 from Mariam
    * COâ‚‚ Emissions from Our World in Data Organization 
    * This dataset is 1.3MB with 9 columns, 30k rows and emissions since 1750

1. Dataset 3 from Nidhi and Krutik
    * Sea Level Change Change in Mean Sea Level from IMF.org (csv)
    * The dataset is 14.6 MB with 13 columns and around 35K rows.
    
    
Notes: 
1. Spark doesn't have constraints like primary or foreign keys

# Spark Database Engine #3

Apache Spark is a unified engine designed for large-scale distributed data processing, on premises in data centers or in the cloud.

Initial Steps Taken:
1. Download Apache Spark using https://spark.apache.org/downloads.html
2. %pip  install pyspark
3. %pip install --upgrade pip and homebrew

In [83]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import warnings
warnings.filterwarnings('ignore')

In [84]:
import pyspark
import datetime

from os.path import abspath
from pyspark.context import SparkContext
from pyspark.sql import SparkSession, SQLContext


from pyspark.sql.functions import to_date, col, when, col, regexp_replace, year, expr, year, month, dayofmonth, concat, lpad, to_date, date_format
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, FloatType

In [2]:
warehouse_location = abspath('spark-warehouse')
dataset_size_in_bytes = 1073741824

def calculate_partitions(dataset_size_in_bytes, bytes_per_partition=10000000):
    return max(1, int(dataset_size_in_bytes / bytes_per_partition))

spark = (SparkSession \
    .builder \
    .appName("CMSI 620: Database Engine") \
    .config("spark.executor.memory", "11g") \
    .config("spark.executor.memoryOverhead", "8g") \
    .config("spark.driver.memory", "6g") \
    .config("spark.driver.memoryOverhead", "4g") \
    .config("spark.memory.fraction", "0.1") \
    .config("spark.executor.instances", "5") \
    .config("spark.executor.cores", "5") \
    .config("spark.sql.autoBroadcastJoinThreshold", "100m") \
    .config("spark.sql.inMemoryColumnarStorage.compressed", "true") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("spark.sql.shuffle.partitions", calculate_partitions(dataset_size_in_bytes)) \
    .enableHiveSupport() \
    .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/26 12:04:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
threshold = 10 * 1024 * 1024  # 10 MB
if dataset_size_in_bytes < threshold:
    spark.conf.set("spark.sql.autoBroadcastJoinThreshold", dataset_size_in_bytes)
else:
    spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

In [7]:
# spark.sparkContext.setLogLevel("INFO")
spark.sparkContext.setLogLevel("OFF")
# spark.sparkContext.setLogLevel("ERROR")

In [3]:
spark.sparkContext

## Methods and Variables

In [101]:
DATABASE = "cmsi620_gpr3_db"  

GLOBAL_TEMP_CSV_FILE_LOCATION = 'GlobalLandTemperaturesByCity.csv'
EMISSIONS_CSV_FILE_LOCATION = 'CO2.csv'
SEA_LEVEL_CSV_FILE_LOCATION = 'sea_level_new.csv'
SEA_COUNTRY_CSV_FILE_LOCATION = 'country_sea.csv'

In [6]:
def get_update_cols(df, schema_cols):
    for field in schema_cols.fields:
        print(field.name, field.name)
        df = df.withColumnRenamed(field.name, field.name)
    return df

def get_tables(db):
    tables = spark.catalog.listTables(db)
    print(tables)
    for table in tables:
        print(table.name)
    return None

def get_databases():
    databases = spark.catalog.listDatabases()
    for db in databases:
        print(db.name)
    return None

## Create A Database

In [11]:
spark.sql('create database CMSI620_GPR3_db')

In [62]:
spark.sql('describe database extended CMSI620_GPR3_db')

DataFrame[info_name: string, info_value: string]

## Check Database

In [63]:
spark.catalog.listDatabases()

[Database(name='cmsi620_gpr3_db', catalog='spark_catalog', description='', locationUri='file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.db'),
 Database(name='default', catalog='spark_catalog', description='Default Hive database', locationUri='file:/Users/mariamjoan/Desktop/Spark/spark-warehouse')]

In [10]:
spark.sql('show databases').show()

+---------------+
|      namespace|
+---------------+
|cmsi620_gpr3_db|
|        default|
+---------------+

In [58]:
spark.catalog.currentDatabase()

'cmsi620_gpr3_db'

In [7]:
spark.sql("use cmsi620_gpr3_db")

23/11/26 11:57:15 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/11/26 11:57:15 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
23/11/26 11:57:17 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
23/11/26 11:57:17 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore mariamjoan@192.168.1.53
23/11/26 11:57:17 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

DataFrame[]

In [8]:
spark.catalog.currentDatabase()

'cmsi620_gpr3_db'

In [ ]:
spark.catalog.listTables()

In [12]:
spark.catalog.listTables('default')

[Table(name='src', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False)]

In [14]:
spark.sql('show tables from default').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|      src|      false|
+---------+---------+-----------+

In [8]:
spark.sql('show tables from cmsi620_gpr3_db').show(truncate=False)

+---------------+----------------------------------+-----------+
|namespace      |tableName                         |isTemporary|
+---------------+----------------------------------+-----------+
|cmsi620_gpr3_db|global_co2_emissions_country_f    |false      |
|cmsi620_gpr3_db|global_co2_emissions_country_sum_f|false      |
|cmsi620_gpr3_db|global_temp_city_f                |false      |
|cmsi620_gpr3_db|global_temp_f                     |false      |
|cmsi620_gpr3_db|sea_level_country_f               |false      |
|cmsi620_gpr3_db|sea_level_f                       |false      |
+---------------+----------------------------------+-----------+

# Dataset #1: Global Temperature
### Climate Change: Earth Surface Temperature Data Climate Change: Earth Surface Temperature Data (Kaggle)

In [12]:
global_city_schema = StructType([
    StructField("dt", DateType(), True),
    StructField("AverageTemperature", FloatType(), True),
    StructField("AverageTemperatureUncertainty", FloatType(), True),
    StructField("City", StringType(), True),
    StructField("Country", StringType(), True),
    StructField("Latitude", StringType(), True),
    StructField("Longitude", StringType(), True)
])

In [13]:
df = spark.read.csv(
    path=GLOBAL_TEMP_CSV_FILE_LOCATION,
    sep=",",
    header=True,
    quote='"',
    encoding="UTF-8",
    schema =global_city_schema
)

In [14]:
city = df.selectExpr(
    "City as city",
    "Country as country",
    "Latitude as latitude",
    "Longitude as longitude"
).dropna()

In [15]:
city = city.dropDuplicates(["city", "country", "latitude", "longitude"])

In [20]:
temp = df.selectExpr(
    "City as city",
    "Country as country",
    "dt as date_measured",
    "AverageTemperature as avg_temp",
    "AverageTemperatureUncertainty as avg_temp_uncertainty"
)

In [21]:
temp = temp.filter(col("avg_temp").isNotNull())

In [18]:
city.show()
city.printSchema()
city.count()

23/11/25 20:54:32 INFO FileSourceStrategy: Pushed Filters:
23/11/25 20:54:32 INFO FileSourceStrategy: Post-Scan Filters: atleastnnonnulls(4, City#35, Country#36, Latitude#37, Longitude#38)
23/11/25 20:54:32 INFO HashAggregateExec: spark.sql.codegen.aggregate.map.twolevel.enabled is set to true, but current version of codegened fast hashmap does not support this aggregate.
23/11/25 20:54:32 INFO CodeGenerator: Code generated in 21.36901 ms
23/11/25 20:54:32 INFO MemoryStore: Block broadcast_12 stored as values in memory (estimated size 200.8 KiB, free 1223.1 MiB)
23/11/25 20:54:32 INFO BlockManagerInfo: Removed broadcast_11_piece0 on mariams-mbp-2.lan:56985 in memory (size: 5.8 KiB, free: 1223.6 MiB)
23/11/25 20:54:32 INFO MemoryStore: Block broadcast_12_piece0 stored as bytes in memory (estimated size 34.6 KiB, free 1223.1 MiB)
23/11/25 20:54:32 INFO BlockManagerInfo: Added broadcast_12_piece0 in memory on mariams-mbp-2.lan:56985 (size: 34.6 KiB, free: 1223.5 MiB)
23/11/25 20:54:32 INFO SparkContext: Created broadcast 12 from showString at NativeMethodAccessorImpl.java:0
23/11/25 20:54:32 INFO FileSourceScanExec: Planning scan with bin packing, max size: 44752064 bytes, open cost is considered as scanning 4194304 bytes.
23/11/25 20:54:32 INFO BlockManagerInfo: Removed broadcast_10_piece0 on mariams-mbp-2.lan:56985 in memory (size: 9.0 KiB, free: 1223.5 MiB)
23/11/25 20:54:32 INFO DAGScheduler: Registering RDD 21 (showString at NativeMethodAccessorImpl.java:0) as input to shuffle 1
23/11/25 20:54:32 INFO DAGScheduler: Got map stage job 10 (showString at NativeMethodAccessorImpl.java:0) with 12 output partitions
23/11/25 20:54:32 INFO DAGScheduler: Final stage: ShuffleMapStage 11 (showString at NativeMethodAccessorImpl.java:0)
23/11/25 20:54:32 INFO DAGScheduler: Parents of final stage: List()
23/11/25 20:54:32 INFO DAGScheduler: Missing parents: List()
23/11/25 20:54:32 INFO DAGScheduler: Submitting ShuffleMapStage 11 (MapPartitionsRDD[21] at showString at NativeMethodAccessorImpl.java:0), which has no missing parents
23/11/25 20:54:32 INFO MemoryStore: Block broadcast_13 stored as values in memory (estimated size 35.7 KiB, free 1223.1 MiB)
23/11/25 20:54:32 INFO MemoryStore: Block broadcast_13_piece0 stored as bytes in memory (estimated size 16.4 KiB, free 1223.1 MiB)
23/11/25 20:54:32 INFO BlockManagerInfo: Added broadcast_13_piece0 in memory on mariams-mbp-2.lan:56985 (size: 16.4 KiB, free: 1223.5 MiB)
23/11/25 20:54:32 INFO SparkContext: Created broadcast 13 from broadcast at DAGScheduler.scala:1535
23/11/25 20:54:32 INFO DAGScheduler: Submitting 12 missing tasks from ShuffleMapStage 11 (MapPartitionsRDD[21] at showString at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11))
23/11/25 20:54:32 INFO TaskSchedulerImpl: Adding task set 11.0 with 12 tasks resource profile 0
23/11/25 20:54:32 INFO TaskSetManager: Starting task 0.0 in stage 11.0 (TID 26) (mariams-mbp-2.lan, executor driver, partition 0, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 1.0 in stage 11.0 (TID 27) (mariams-mbp-2.lan, executor driver, partition 1, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 2.0 in stage 11.0 (TID 28) (mariams-mbp-2.lan, executor driver, partition 2, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 3.0 in stage 11.0 (TID 29) (mariams-mbp-2.lan, executor driver, partition 3, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 4.0 in stage 11.0 (TID 30) (mariams-mbp-2.lan, executor driver, partition 4, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 5.0 in stage 11.0 (TID 31) (mariams-mbp-2.lan, executor driver, partition 5, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 6.0 in stage 11.0 (TID 32) (mariams-mbp-2.lan, executor driver, partition 6, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 7.0 in stage 11.0 (TID 33) (mariams-mbp-2.lan, executor driver, partition 7, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 8.0 in stage 11.0 (TID 34) (mariams-mbp-2.lan, executor driver, partition 8, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 9.0 in stage 11.0 (TID 35) (mariams-mbp-2.lan, executor driver, partition 9, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 10.0 in stage 11.0 (TID 36) (mariams-mbp-2.lan, executor driver, partition 10, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO TaskSetManager: Starting task 11.0 in stage 11.0 (TID 37) (mariams-mbp-2.lan, executor driver, partition 11, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:32 INFO Executor: Running task 0.0 in stage 11.0 (TID 26)
23/11/25 20:54:32 INFO Executor: Running task 1.0 in stage 11.0 (TID 27)
23/11/25 20:54:32 INFO Executor: Running task 2.0 in stage 11.0 (TID 28)
23/11/25 20:54:32 INFO Executor: Running task 3.0 in stage 11.0 (TID 29)
23/11/25 20:54:32 INFO Executor: Running task 5.0 in stage 11.0 (TID 31)
23/11/25 20:54:32 INFO Executor: Running task 4.0 in stage 11.0 (TID 30)
23/11/25 20:54:32 INFO Executor: Running task 6.0 in stage 11.0 (TID 32)
23/11/25 20:54:32 INFO Executor: Running task 7.0 in stage 11.0 (TID 33)
23/11/25 20:54:32 INFO Executor: Running task 8.0 in stage 11.0 (TID 34)
23/11/25 20:54:32 INFO Executor: Running task 9.0 in stage 11.0 (TID 35)
23/11/25 20:54:32 INFO Executor: Running task 10.0 in stage 11.0 (TID 36)
23/11/25 20:54:32 INFO Executor: Running task 11.0 in stage 11.0 (TID 37)
23/11/25 20:54:32 INFO CodeGenerator: Code generated in 10.445236 ms
23/11/25 20:54:32 INFO CodeGenerator: Code generated in 4.606467 ms
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 223760320-268512384, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 0-44752064, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 358016512-402768576, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 179008256-223760320, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 492272704-532830464, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 402768576-447520640, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 134256192-179008256, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 447520640-492272704, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 89504128-134256192, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 44752064-89504128, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 268512384-313264448, partition values: [empty row]
23/11/25 20:54:32 INFO FileScanRDD: Reading File path: file:///Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv, range: 313264448-358016512, partition values: [empty row]
23/11/25 20:54:33 INFO BlockManagerInfo: Removed broadcast_9_piece0 on mariams-mbp-2.lan:56985 in memory (size: 34.6 KiB, free: 1223.6 MiB)
23/11/25 20:54:36 INFO Executor: Finished task 11.0 in stage 11.0 (TID 37). 2773 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 11.0 in stage 11.0 (TID 37) in 3584 ms on mariams-mbp-2.lan (executor driver) (1/12)
23/11/25 20:54:36 INFO Executor: Finished task 9.0 in stage 11.0 (TID 35). 2773 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 9.0 in stage 11.0 (TID 35) in 3932 ms on mariams-mbp-2.lan (executor driver) (2/12)
23/11/25 20:54:36 INFO Executor: Finished task 7.0 in stage 11.0 (TID 33). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 7.0 in stage 11.0 (TID 33) in 3965 ms on mariams-mbp-2.lan (executor driver) (3/12)
23/11/25 20:54:36 INFO Executor: Finished task 1.0 in stage 11.0 (TID 27). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 1.0 in stage 11.0 (TID 27) in 3971 ms on mariams-mbp-2.lan (executor driver) (4/12)
23/11/25 20:54:36 INFO Executor: Finished task 10.0 in stage 11.0 (TID 36). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 10.0 in stage 11.0 (TID 36) in 3980 ms on mariams-mbp-2.lan (executor driver) (5/12)
23/11/25 20:54:36 INFO Executor: Finished task 8.0 in stage 11.0 (TID 34). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 8.0 in stage 11.0 (TID 34) in 4007 ms on mariams-mbp-2.lan (executor driver) (6/12)
23/11/25 20:54:36 INFO Executor: Finished task 2.0 in stage 11.0 (TID 28). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 2.0 in stage 11.0 (TID 28) in 4010 ms on mariams-mbp-2.lan (executor driver) (7/12)
23/11/25 20:54:36 INFO Executor: Finished task 4.0 in stage 11.0 (TID 30). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 4.0 in stage 11.0 (TID 30) in 4026 ms on mariams-mbp-2.lan (executor driver) (8/12)
23/11/25 20:54:36 INFO Executor: Finished task 6.0 in stage 11.0 (TID 32). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 6.0 in stage 11.0 (TID 32) in 4028 ms on mariams-mbp-2.lan (executor driver) (9/12)
23/11/25 20:54:36 INFO Executor: Finished task 3.0 in stage 11.0 (TID 29). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 3.0 in stage 11.0 (TID 29) in 4033 ms on mariams-mbp-2.lan (executor driver) (10/12)
23/11/25 20:54:36 INFO Executor: Finished task 5.0 in stage 11.0 (TID 31). 2730 bytes result sent to driver
23/11/25 20:54:36 INFO TaskSetManager: Finished task 5.0 in stage 11.0 (TID 31) in 4040 ms on mariams-mbp-2.lan (executor driver) (11/12)
23/11/25 20:54:37 INFO Executor: Finished task 0.0 in stage 11.0 (TID 26). 2730 bytes result sent to driver
23/11/25 20:54:37 INFO TaskSetManager: Finished task 0.0 in stage 11.0 (TID 26) in 4087 ms on mariams-mbp-2.lan (executor driver) (12/12)
23/11/25 20:54:37 INFO TaskSchedulerImpl: Removed TaskSet 11.0, whose tasks have all completed, from pool
23/11/25 20:54:37 INFO DAGScheduler: ShuffleMapStage 11 (showString at NativeMethodAccessorImpl.java:0) finished in 4.095 s
23/11/25 20:54:37 INFO DAGScheduler: looking for newly runnable stages
23/11/25 20:54:37 INFO DAGScheduler: running: Set()
23/11/25 20:54:37 INFO DAGScheduler: waiting: Set()
23/11/25 20:54:37 INFO DAGScheduler: failed: Set()
23/11/25 20:54:37 INFO ShufflePartitionsUtil: For shuffle(1), advisory target size: 67108864, actual target size 1048576, minimum partition size: 1048576
23/11/25 20:54:37 INFO HashAggregateExec: spark.sql.codegen.aggregate.map.twolevel.enabled is set to true, but current version of codegened fast hashmap does not support this aggregate.
23/11/25 20:54:37 INFO CodeGenerator: Code generated in 17.939861 ms
23/11/25 20:54:37 INFO SparkContext: Starting job: showString at NativeMethodAccessorImpl.java:0
23/11/25 20:54:37 INFO DAGScheduler: Got job 11 (showString at NativeMethodAccessorImpl.java:0) with 1 output partitions
23/11/25 20:54:37 INFO DAGScheduler: Final stage: ResultStage 13 (showString at NativeMethodAccessorImpl.java:0)
23/11/25 20:54:37 INFO DAGScheduler: Parents of final stage: List(ShuffleMapStage 12)
23/11/25 20:54:37 INFO DAGScheduler: Missing parents: List()
23/11/25 20:54:37 INFO DAGScheduler: Submitting ResultStage 13 (MapPartitionsRDD[24] at showString at NativeMethodAccessorImpl.java:0), which has no missing parents
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_14 stored as values in memory (estimated size 42.1 KiB, free 1223.3 MiB)
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_14_piece0 stored as bytes in memory (estimated size 18.9 KiB, free 1223.3 MiB)
23/11/25 20:54:37 INFO BlockManagerInfo: Added broadcast_14_piece0 in memory on mariams-mbp-2.lan:56985 (size: 18.9 KiB, free: 1223.5 MiB)
23/11/25 20:54:37 INFO SparkContext: Created broadcast 14 from broadcast at DAGScheduler.scala:1535
23/11/25 20:54:37 INFO DAGScheduler: Submitting 1 missing tasks from ResultStage 13 (MapPartitionsRDD[24] at showString at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0))
23/11/25 20:54:37 INFO TaskSchedulerImpl: Adding task set 13.0 with 1 tasks resource profile 0
23/11/25 20:54:37 INFO TaskSetManager: Starting task 0.0 in stage 13.0 (TID 38) (mariams-mbp-2.lan, executor driver, partition 0, NODE_LOCAL, 7363 bytes)
23/11/25 20:54:37 INFO Executor: Running task 0.0 in stage 13.0 (TID 38)
23/11/25 20:54:37 INFO ShuffleBlockFetcherIterator: Getting 12 (272.4 KiB) non-empty blocks including 12 (272.4 KiB) local and 0 (0.0 B) host-local and 0 (0.0 B) push-merged-local and 0 (0.0 B) remote blocks
23/11/25 20:54:37 INFO ShuffleBlockFetcherIterator: Started 0 remote fetches in 4 ms
23/11/25 20:54:37 INFO Executor: Finished task 0.0 in stage 13.0 (TID 38). 6122 bytes result sent to driver
23/11/25 20:54:37 INFO TaskSetManager: Finished task 0.0 in stage 13.0 (TID 38) in 43 ms on mariams-mbp-2.lan (executor driver) (1/1)
23/11/25 20:54:37 INFO TaskSchedulerImpl: Removed TaskSet 13.0, whose tasks have all completed, from pool
23/11/25 20:54:37 INFO DAGScheduler: ResultStage 13 (showString at NativeMethodAccessorImpl.java:0) finished in 0.051 s
23/11/25 20:54:37 INFO DAGScheduler: Job 11 is finished. Cancelling potential speculative or zombie tasks for this job
23/11/25 20:54:37 INFO TaskSchedulerImpl: Killing all running tasks in stage 13: Stage finished
23/11/25 20:54:37 INFO DAGScheduler: Job 11 finished: showString at NativeMethodAccessorImpl.java:0, took 0.061163 s
23/11/25 20:54:37 INFO FileSourceStrategy: Pushed Filters:
23/11/25 20:54:37 INFO FileSourceStrategy: Post-Scan Filters: atleastnnonnulls(4, City#35, Country#36, Latitude#37, Longitude#38)
23/11/25 20:54:37 INFO HashAggregateExec: spark.sql.codegen.aggregate.map.twolevel.enabled is set to true, but current version of codegened fast hashmap does not support this aggregate.
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_15 stored as values in memory (estimated size 200.8 KiB, free 1223.1 MiB)
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_15_piece0 stored as bytes in memory (estimated size 34.6 KiB, free 1223.0 MiB)
23/11/25 20:54:37 INFO BlockManagerInfo: Added broadcast_15_piece0 in memory on mariams-mbp-2.lan:56985 (size: 34.6 KiB, free: 1223.5 MiB)
23/11/25 20:54:37 INFO SparkContext: Created broadcast 15 from count at NativeMethodAccessorImpl.java:0
23/11/25 20:54:37 INFO FileSourceScanExec: Planning scan with bin packing, max size: 44752064 bytes, open cost is considered as scanning 4194304 bytes.
23/11/25 20:54:37 INFO DAGScheduler: Registering RDD 28 (count at NativeMethodAccessorImpl.java:0) as input to shuffle 2
23/11/25 20:54:37 INFO DAGScheduler: Got map stage job 12 (count at NativeMethodAccessorImpl.java:0) with 12 output partitions
23/11/25 20:54:37 INFO DAGScheduler: Final stage: ShuffleMapStage 14 (count at NativeMethodAccessorImpl.java:0)
23/11/25 20:54:37 INFO DAGScheduler: Parents of final stage: List()
23/11/25 20:54:37 INFO DAGScheduler: Missing parents: List()
23/11/25 20:54:37 INFO DAGScheduler: Submitting ShuffleMapStage 14 (MapPartitionsRDD[28] at count at NativeMethodAccessorImpl.java:0), which has no missing parents
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_16 stored as values in memory (estimated size 35.7 KiB, free 1223.0 MiB)
23/11/25 20:54:37 INFO MemoryStore: Block broadcast_16_piece0 stored as bytes in memory (estimated size 16.4 KiB, free 1223.0 MiB)
23/11/25 20:54:37 INFO BlockManagerInfo: Added broadcast_16_piece0 in memory on mariams-mbp-2.lan:56985 (size: 16.4 KiB, free: 1223.5 MiB)
23/11/25 20:54:37 INFO SparkContext: Created broadcast 16 from broadcast at DAGScheduler.scala:1535
23/11/25 20:54:37 INFO DAGScheduler: Submitting 12 missing tasks from ShuffleMapStage 14 (MapPartitionsRDD[28] at count at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11))
23/11/25 20:54:37 INFO TaskSchedulerImpl: Adding task set 14.0 with 12 tasks resource profile 0
23/11/25 20:54:37 INFO TaskSetManager: Starting task 0.0 in stage 14.0 (TID 39) (mariams-mbp-2.lan, executor driver, partition 0, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 1.0 in stage 14.0 (TID 40) (mariams-mbp-2.lan, executor driver, partition 1, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 2.0 in stage 14.0 (TID 41) (mariams-mbp-2.lan, executor driver, partition 2, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 3.0 in stage 14.0 (TID 42) (mariams-mbp-2.lan, executor driver, partition 3, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 4.0 in stage 14.0 (TID 43) (mariams-mbp-2.lan, executor driver, partition 4, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 5.0 in stage 14.0 (TID 44) (mariams-mbp-2.lan, executor driver, partition 5, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 6.0 in stage 14.0 (TID 45) (mariams-mbp-2.lan, executor driver, partition 6, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 7.0 in stage 14.0 (TID 46) (mariams-mbp-2.lan, executor driver, partition 7, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 8.0 in stage 14.0 (TID 47) (mariams-mbp-2.lan, executor driver, partition 8, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 9.0 in stage 14.0 (TID 48) (mariams-mbp-2.lan, executor driver, partition 9, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 10.0 in stage 14.0 (TID 49) (mariams-mbp-2.lan, executor driver, partition 10, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO TaskSetManager: Starting task 11.0 in stage 14.0 (TID 50) (mariams-mbp-2.lan, executor driver, partition 11, PROCESS_LOCAL, 7940 bytes)
23/11/25 20:54:37 INFO Executor: Running task 0.0 in stage 14.0 (TID 39)
23/11/25 20:54:37 INFO Executor: Running task 4.0 in stage 14.0 (TID 43)
23/11/25 20:54:37 INFO Executor: Running task 6.0 in stage 14.0 (TID 45)
23/11/25 20:54:37 INFO Executor: Running task 7.0 in stage 14.0 (TID 46)
23/11/25 20:54:37 INFO Executor: Running task 8.0 in stage 14.0 (TID 47)
23/11/25 20:54:37 INFO Executor: Running task 9.0 in stage 14.0 (TID 48)
23/11/25 20:54:37 INFO Executor: Running task 1.0 in stage 14.0 (TID 40)
23/11/25 20:54:37 INFO Executor: Running task 10.0 in stage 14.0 (TID 49)
23/11/25 20:54:37 INFO Executor: Running task 2.0 in stage 14.0 (TID 41)
23/11/25 20:54:37 INFO Executor: Running task 5.0 in stage 14.0 (TID 44)
23/11/25 20:54:37 INFO Executor: Running task 11.0 in stage 14.0 (TID 50)
23/11/25 20:54:37 INFO Executor: Running task 3.0 in stage 14.0 (TID 42)

+---------------+--------------+--------+---------+
|           city|       country|latitude|longitude|
+---------------+--------------+--------+---------+
|       Ayacucho|          Peru|  13.66S|   73.49W|
|         Bantou|         China|  24.92N|  118.82E|
|       Ajdabiya|         Libya|  31.35N|   20.73E|
|         Ambala|         India|  29.74N|   77.54E|
|       Akishima|         Japan|  36.17N|  139.23E|
|      Amagasaki|         Japan|  34.56N|  136.22E|
|         Arnhem|   Netherlands|  52.24N|    5.26E|
|          Baneh|          Iran|  36.17N|   45.75E|
|      Barcelona|     Venezuela|  10.45N|   64.64W|
|       Acarigua|     Venezuela|   8.84N|   68.92W|
|     Almetyevsk|        Russia|  55.45N|   51.02E|
|         Awassa|      Ethiopia|   7.23N|   38.11E|
|         Abadan|          Iran|  29.74N|   48.00E|
|       Aberdeen|United Kingdom|  57.05N|    1.48W|
|       Adilabad|         India|  20.09N|   78.48E|
|          Aktau|    Kazakhstan|  44.20N|   51.43E|
|        Anaheim| United States|  32.95N|  117.77W|
|        Antakya|        Turkey|  36.17N|   35.80E|
|         Astana|    Kazakhstan|  50.63N|   72.25E|
|Barrancabermeja|      Colombia|   7.23N|   73.78W|
+---------------+--------------+--------+---------+
only showing top 20 rows

root
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

23/11/25 20:54:37 INFO BlockManagerInfo: Removed broadcast_14_piece0 on mariams-mbp-2.lan:56985 in memory (size: 18.9 KiB, free: 1223.5 MiB)
23/11/25 20:54:40 INFO Executor: Finished task 11.0 in stage 14.0 (TID 50). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 11.0 in stage 14.0 (TID 50) in 3110 ms on mariams-mbp-2.lan (executor driver) (1/12)
23/11/25 20:54:40 INFO Executor: Finished task 9.0 in stage 14.0 (TID 48). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 9.0 in stage 14.0 (TID 48) in 3368 ms on mariams-mbp-2.lan (executor driver) (2/12)
23/11/25 20:54:40 INFO Executor: Finished task 0.0 in stage 14.0 (TID 39). 2773 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 0.0 in stage 14.0 (TID 39) in 3469 ms on mariams-mbp-2.lan (executor driver) (3/12)
23/11/25 20:54:40 INFO Executor: Finished task 6.0 in stage 14.0 (TID 45). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 6.0 in stage 14.0 (TID 45) in 3484 ms on mariams-mbp-2.lan (executor driver) (4/12)
23/11/25 20:54:40 INFO Executor: Finished task 10.0 in stage 14.0 (TID 49). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 10.0 in stage 14.0 (TID 49) in 3515 ms on mariams-mbp-2.lan (executor driver) (5/12)
23/11/25 20:54:40 INFO Executor: Finished task 3.0 in stage 14.0 (TID 42). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 3.0 in stage 14.0 (TID 42) in 3528 ms on mariams-mbp-2.lan (executor driver) (6/12)
23/11/25 20:54:40 INFO BlockManagerInfo: Removed broadcast_12_piece0 on mariams-mbp-2.lan:56985 in memory (size: 34.6 KiB, free: 1223.5 MiB)
23/11/25 20:54:40 INFO BlockManagerInfo: Removed broadcast_13_piece0 on mariams-mbp-2.lan:56985 in memory (size: 16.4 KiB, free: 1223.6 MiB)
23/11/25 20:54:40 INFO Executor: Finished task 7.0 in stage 14.0 (TID 46). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 7.0 in stage 14.0 (TID 46) in 3562 ms on mariams-mbp-2.lan (executor driver) (7/12)
23/11/25 20:54:40 INFO Executor: Finished task 2.0 in stage 14.0 (TID 41). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 2.0 in stage 14.0 (TID 41) in 3564 ms on mariams-mbp-2.lan (executor driver) (8/12)
23/11/25 20:54:40 INFO Executor: Finished task 1.0 in stage 14.0 (TID 40). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 1.0 in stage 14.0 (TID 40) in 3591 ms on mariams-mbp-2.lan (executor driver) (9/12)
23/11/25 20:54:40 INFO Executor: Finished task 5.0 in stage 14.0 (TID 44). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 5.0 in stage 14.0 (TID 44) in 3601 ms on mariams-mbp-2.lan (executor driver) (10/12)
23/11/25 20:54:40 INFO Executor: Finished task 8.0 in stage 14.0 (TID 47). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 8.0 in stage 14.0 (TID 47) in 3602 ms on mariams-mbp-2.lan (executor driver) (11/12)
23/11/25 20:54:40 INFO Executor: Finished task 4.0 in stage 14.0 (TID 43). 2730 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 4.0 in stage 14.0 (TID 43) in 3606 ms on mariams-mbp-2.lan (executor driver) (12/12)
23/11/25 20:54:40 INFO TaskSchedulerImpl: Removed TaskSet 14.0, whose tasks have all completed, from pool
23/11/25 20:54:40 INFO DAGScheduler: ShuffleMapStage 14 (count at NativeMethodAccessorImpl.java:0) finished in 3.613 s
23/11/25 20:54:40 INFO DAGScheduler: looking for newly runnable stages
23/11/25 20:54:40 INFO DAGScheduler: running: Set()
23/11/25 20:54:40 INFO DAGScheduler: waiting: Set()
23/11/25 20:54:40 INFO DAGScheduler: failed: Set()
23/11/25 20:54:40 INFO ShufflePartitionsUtil: For shuffle(2), advisory target size: 67108864, actual target size 1048576, minimum partition size: 1048576
23/11/25 20:54:40 INFO HashAggregateExec: spark.sql.codegen.aggregate.map.twolevel.enabled is set to true, but current version of codegened fast hashmap does not support this aggregate.
23/11/25 20:54:40 INFO CodeGenerator: Code generated in 14.296332 ms
23/11/25 20:54:40 INFO DAGScheduler: Registering RDD 31 (count at NativeMethodAccessorImpl.java:0) as input to shuffle 3
23/11/25 20:54:40 INFO DAGScheduler: Got map stage job 13 (count at NativeMethodAccessorImpl.java:0) with 1 output partitions
23/11/25 20:54:40 INFO DAGScheduler: Final stage: ShuffleMapStage 16 (count at NativeMethodAccessorImpl.java:0)
23/11/25 20:54:40 INFO DAGScheduler: Parents of final stage: List(ShuffleMapStage 15)
23/11/25 20:54:40 INFO DAGScheduler: Missing parents: List()
23/11/25 20:54:40 INFO DAGScheduler: Submitting ShuffleMapStage 16 (MapPartitionsRDD[31] at count at NativeMethodAccessorImpl.java:0), which has no missing parents
23/11/25 20:54:40 INFO MemoryStore: Block broadcast_17 stored as values in memory (estimated size 45.3 KiB, free 1223.3 MiB)
23/11/25 20:54:40 INFO MemoryStore: Block broadcast_17_piece0 stored as bytes in memory (estimated size 20.6 KiB, free 1223.3 MiB)
23/11/25 20:54:40 INFO BlockManagerInfo: Added broadcast_17_piece0 in memory on mariams-mbp-2.lan:56985 (size: 20.6 KiB, free: 1223.5 MiB)
23/11/25 20:54:40 INFO SparkContext: Created broadcast 17 from broadcast at DAGScheduler.scala:1535
23/11/25 20:54:40 INFO DAGScheduler: Submitting 1 missing tasks from ShuffleMapStage 16 (MapPartitionsRDD[31] at count at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0))
23/11/25 20:54:40 INFO TaskSchedulerImpl: Adding task set 16.0 with 1 tasks resource profile 0
23/11/25 20:54:40 INFO TaskSetManager: Starting task 0.0 in stage 16.0 (TID 51) (mariams-mbp-2.lan, executor driver, partition 0, NODE_LOCAL, 7352 bytes)
23/11/25 20:54:40 INFO Executor: Running task 0.0 in stage 16.0 (TID 51)
23/11/25 20:54:40 INFO ShuffleBlockFetcherIterator: Getting 12 (272.4 KiB) non-empty blocks including 12 (272.4 KiB) local and 0 (0.0 B) host-local and 0 (0.0 B) push-merged-local and 0 (0.0 B) remote blocks
23/11/25 20:54:40 INFO ShuffleBlockFetcherIterator: Started 0 remote fetches in 1 ms
23/11/25 20:54:40 INFO Executor: Finished task 0.0 in stage 16.0 (TID 51). 5656 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 0.0 in stage 16.0 (TID 51) in 35 ms on mariams-mbp-2.lan (executor driver) (1/1)
23/11/25 20:54:40 INFO TaskSchedulerImpl: Removed TaskSet 16.0, whose tasks have all completed, from pool
23/11/25 20:54:40 INFO DAGScheduler: ShuffleMapStage 16 (count at NativeMethodAccessorImpl.java:0) finished in 0.042 s
23/11/25 20:54:40 INFO DAGScheduler: looking for newly runnable stages
23/11/25 20:54:40 INFO DAGScheduler: running: Set()
23/11/25 20:54:40 INFO DAGScheduler: waiting: Set()
23/11/25 20:54:40 INFO DAGScheduler: failed: Set()
23/11/25 20:54:40 INFO CodeGenerator: Code generated in 8.265942 ms
23/11/25 20:54:40 INFO SparkContext: Starting job: count at NativeMethodAccessorImpl.java:0
23/11/25 20:54:40 INFO DAGScheduler: Got job 14 (count at NativeMethodAccessorImpl.java:0) with 1 output partitions
23/11/25 20:54:40 INFO DAGScheduler: Final stage: ResultStage 19 (count at NativeMethodAccessorImpl.java:0)
23/11/25 20:54:40 INFO DAGScheduler: Parents of final stage: List(ShuffleMapStage 18)
23/11/25 20:54:40 INFO DAGScheduler: Missing parents: List()
23/11/25 20:54:40 INFO DAGScheduler: Submitting ResultStage 19 (MapPartitionsRDD[34] at count at NativeMethodAccessorImpl.java:0), which has no missing parents
23/11/25 20:54:40 INFO MemoryStore: Block broadcast_18 stored as values in memory (estimated size 12.1 KiB, free 1223.2 MiB)
23/11/25 20:54:40 INFO MemoryStore: Block broadcast_18_piece0 stored as bytes in memory (estimated size 5.8 KiB, free 1223.2 MiB)
23/11/25 20:54:40 INFO BlockManagerInfo: Added broadcast_18_piece0 in memory on mariams-mbp-2.lan:56985 (size: 5.8 KiB, free: 1223.5 MiB)
23/11/25 20:54:40 INFO SparkContext: Created broadcast 18 from broadcast at DAGScheduler.scala:1535
23/11/25 20:54:40 INFO DAGScheduler: Submitting 1 missing tasks from ResultStage 19 (MapPartitionsRDD[34] at count at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0))
23/11/25 20:54:40 INFO TaskSchedulerImpl: Adding task set 19.0 with 1 tasks resource profile 0
23/11/25 20:54:40 INFO TaskSetManager: Starting task 0.0 in stage 19.0 (TID 52) (mariams-mbp-2.lan, executor driver, partition 0, NODE_LOCAL, 7363 bytes)
23/11/25 20:54:40 INFO Executor: Running task 0.0 in stage 19.0 (TID 52)
23/11/25 20:54:40 INFO ShuffleBlockFetcherIterator: Getting 1 (60.0 B) non-empty blocks including 1 (60.0 B) local and 0 (0.0 B) host-local and 0 (0.0 B) push-merged-local and 0 (0.0 B) remote blocks
23/11/25 20:54:40 INFO ShuffleBlockFetcherIterator: Started 0 remote fetches in 0 ms
23/11/25 20:54:40 INFO Executor: Finished task 0.0 in stage 19.0 (TID 52). 3995 bytes result sent to driver
23/11/25 20:54:40 INFO TaskSetManager: Finished task 0.0 in stage 19.0 (TID 52) in 7 ms on mariams-mbp-2.lan (executor driver) (1/1)
23/11/25 20:54:40 INFO TaskSchedulerImpl: Removed TaskSet 19.0, whose tasks have all completed, from pool
23/11/25 20:54:40 INFO DAGScheduler: ResultStage 19 (count at NativeMethodAccessorImpl.java:0) finished in 0.011 s
23/11/25 20:54:40 INFO DAGScheduler: Job 14 is finished. Cancelling potential speculative or zombie tasks for this job
23/11/25 20:54:40 INFO TaskSchedulerImpl: Killing all running tasks in stage 19: Stage finished
23/11/25 20:54:40 INFO DAGScheduler: Job 14 finished: count at NativeMethodAccessorImpl.java:0, took 0.014883 s

3510

In [22]:
temp.show()
temp.printSchema()
temp.count()

+-----+-------+-------------+--------+--------------------+
| city|country|date_measured|avg_temp|avg_temp_uncertainty|
+-----+-------+-------------+--------+--------------------+
|Ã…rhus|Denmark|   1743-11-01|   6.068|               1.737|
|Ã…rhus|Denmark|   1744-04-01|   5.788|               3.624|
|Ã…rhus|Denmark|   1744-05-01|  10.644|               1.283|
|Ã…rhus|Denmark|   1744-06-01|  14.051|               1.347|
|Ã…rhus|Denmark|   1744-07-01|  16.082|               1.396|
|Ã…rhus|Denmark|   1744-09-01|  12.781|               1.454|
|Ã…rhus|Denmark|   1744-10-01|    7.95|                1.63|
|Ã…rhus|Denmark|   1744-11-01|   4.639|               1.302|
|Ã…rhus|Denmark|   1744-12-01|   0.122|               1.756|
|Ã…rhus|Denmark|   1745-01-01|  -1.333|               1.642|
|Ã…rhus|Denmark|   1745-02-01|  -2.732|               1.358|
|Ã…rhus|Denmark|   1745-03-01|   0.129|               1.088|
|Ã…rhus|Denmark|   1745-04-01|   4.042|               1.138|
|Ã…rhus|Denmark|   1750-01-01|   1.699|               1.013|
|Ã…rhus|Denmark|   1750-02-01|   3.961|               2.361|
|Ã…rhus|Denmark|   1750-03-01|   5.182|                3.48|
|Ã…rhus|Denmark|   1750-04-01|   7.197|               0.732|
|Ã…rhus|Denmark|   1750-05-01|  10.634|               1.351|
|Ã…rhus|Denmark|   1750-06-01|  14.913|               1.181|
|Ã…rhus|Denmark|   1750-07-01|  17.831|                1.22|
+-----+-------+-------------+--------+--------------------+
only showing top 20 rows

root
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_measured: date (nullable = true)
 |-- avg_temp: float (nullable = true)
 |-- avg_temp_uncertainty: float (nullable = true)

8235082

## Dataset #1 Quality

In [23]:
date_col = "date_measured"
temp = temp.withColumn(date_col, regexp_replace(col(date_col), "-", ""))

In [24]:
temp.take(1)

[Row(city='Ã…rhus', country='Denmark', date_measured='17431101', avg_temp=6.067999839782715, avg_temp_uncertainty=1.7369999885559082)]

In [25]:
temp.describe().show()
temp.explain()

23/11/26 10:50:34 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------+-----------+-------------------+------------------+--------------------+
|summary|    city|    country|      date_measured|          avg_temp|avg_temp_uncertainty|
+-------+--------+-----------+-------------------+------------------+--------------------+
|  count| 8235082|    8235082|            8235082|           8235082|             8235082|
|   mean|    null|       null|1.910898935810014E7| 16.72743263617215|  1.0285747414276099|
| stddev|    null|       null|  641959.9052579077|10.353442482004715|  1.1297332887072418|
|    min|A CoruÃ±a|Afghanistan|           17431101|           -42.704|               0.034|
|    max|  ÃœrÃ¼mqi|   Zimbabwe|           20130901|            39.651|              15.396|
+-------+--------+-----------+-------------------+------------------+--------------------+

== Physical Plan ==
*(1) Project [City#3 AS city#84, Country#4 AS country#85, regexp_replace(cast(dt#0 as string), -, , 1) AS date_measured#131, AverageTemperature#1 AS avg_temp#87, AverageTemperatureUncertainty#2 AS avg_temp_uncertainty#88]
+- *(1) Filter isnotnull(AverageTemperature#1)
   +- FileScan csv [dt#0,AverageTemperature#1,AverageTemperatureUncertainty#2,City#3,Country#4] Batched: false, DataFilters: [isnotnull(AverageTemperature#1)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/GlobalLandTemperaturesByCity.csv], PartitionFilters: [], PushedFilters: [IsNotNull(AverageTemperature)], ReadSchema: struct<dt:date,AverageTemperature:float,AverageTemperatureUncertainty:float,City:string,Country:s...

## Save Dataset #1 as Table in Spark Database

In [81]:
city.write.mode("overwrite").saveAsTable(f"{DATABASE}.global_temp_city_f")

In [26]:
temp.write.mode("overwrite").saveAsTable(f"{DATABASE}.global_temp_f")

23/11/26 10:51:40 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
23/11/26 10:51:40 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
23/11/26 10:51:40 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/11/26 10:51:40 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

# Dataset #2 Co2 Emissions 
## Global CO2 Emissions Data By Year and Country Across Multiple Domains, e.g Oil, Gas, Coal, etc.

In [31]:
emissions_schema = StructType([
    StructField("Entity", StringType(), True),
    StructField("Code", StringType(), True),
    StructField("Year", IntegerType(), True),
    StructField("Annual_CO2_other_industry_other", FloatType(), True),
    StructField("Annual_CO2_other_industry_flaring", FloatType(), True),
    StructField("Annual_CO2_other_industry_cement", FloatType(), True),
    StructField("Annual_CO2_other_industry_gas", FloatType(), True),
    StructField("Annual_CO2_other_industry_oil", FloatType(), True),
    StructField("Annual_CO2_other_industry_coal", FloatType(), True)
])

In [32]:
co2 = spark.read.csv(
    path=EMISSIONS_CSV_FILE_LOCATION,
    sep=",",
    header=True,
    quote='"',
    encoding="UTF-8",
    schema =emissions_schema
)

In [33]:
co2tx = co2.selectExpr(
    "Entity as country",
    "Year as year_measured",
    "Annual_CO2_other_industry_other as co2_other_yr",
    "Annual_CO2_other_industry_flaring as co2_flaring_yr",
    "Annual_CO2_other_industry_cement as co2_cement_yr",
    "Annual_CO2_other_industry_gas as co2_gas_yr",
    "Annual_CO2_other_industry_oil as co2_oil_yr",
    "Annual_CO2_other_industry_coal as co2_coal_yr"
)

In [35]:
co2tx.show()
co2tx.printSchema()
co2tx.count()

+-----------+-------------+------------+--------------+-------------+----------+----------+-----------+
|    country|year_measured|co2_other_yr|co2_flaring_yr|co2_cement_yr|co2_gas_yr|co2_oil_yr|co2_coal_yr|
+-----------+-------------+------------+--------------+-------------+----------+----------+-----------+
|Afghanistan|         1949|        null|           0.0|          0.0|       0.0|       0.0|    14656.0|
|Afghanistan|         1950|        null|           0.0|          0.0|       0.0| 63203.996|    21068.0|
|Afghanistan|         1951|        null|           0.0|          0.0|       0.0|   65952.0|    25648.0|
|Afghanistan|         1952|        null|           0.0|          0.0|       0.0|   59892.0|  31707.998|
|Afghanistan|         1953|        null|           0.0|          0.0|       0.0|   68307.0|    37949.0|
|Afghanistan|         1954|        null|           0.0|          0.0|       0.0|   63754.0|    42502.0|
|Afghanistan|         1955|        null|           0.0|          0.0|       0.0|   91600.0|    62288.0|
|Afghanistan|         1956|        null|           0.0|          0.0|       0.0|  120912.0|    62288.0|
|Afghanistan|         1957|        null|           0.0|          0.0|       0.0|  216176.0|    76944.0|
|Afghanistan|         1958|        null|           0.0|          0.0|       0.0|  238160.0|    91600.0|
|Afghanistan|         1959|        null|           0.0|      18171.0|       0.0| 256480.02|   109920.0|
|Afghanistan|         1960|        null|           0.0|      18012.0|       0.0|  268758.0|   127115.0|
|Afghanistan|         1961|        null|           0.0|      21806.0|       0.0|  293120.0|   175872.0|
|Afghanistan|         1962|        null|           0.0|      29074.0|       0.0|  362736.0|   296784.0|
|Afghanistan|         1963|        null|           0.0|      50880.0|       0.0|  392048.0|   263808.0|
|Afghanistan|         1964|        null|           0.0|      61783.0|       0.0|  476320.0|   300448.0|
|Afghanistan|         1965|        null|           0.0|      83589.0|       0.0|  542272.0|   381056.0|
|Afghanistan|         1966|        null|           0.0|      87223.0|       0.0|  575248.0|   428688.0|
|Afghanistan|         1967|        null|           0.0|      65417.0|  260144.0|  556928.0|   399376.0|
|Afghanistan|         1968|        null|           0.0|      47105.0|  347041.0|  496817.0|   332429.0|
+-----------+-------------+------------+--------------+-------------+----------+----------+-----------+
only showing top 20 rows

root
 |-- country: string (nullable = true)
 |-- year_measured: integer (nullable = true)
 |-- co2_other_yr: float (nullable = true)
 |-- co2_flaring_yr: float (nullable = true)
 |-- co2_cement_yr: float (nullable = true)
 |-- co2_gas_yr: float (nullable = true)
 |-- co2_oil_yr: float (nullable = true)
 |-- co2_coal_yr: float (nullable = true)

23/11/26 10:53:29 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Entity, Year, Annual_CO2_industry_other, Annual_CO2_flaring, Annual_CO2_other_cement, Annual_CO2_other_gas, Annual_CO2_other_oil, Annual_CO2_other_coal
 Schema: Entity, Year, Annual_CO2_other_industry_other, Annual_CO2_other_industry_flaring, Annual_CO2_other_industry_cement, Annual_CO2_other_industry_gas, Annual_CO2_other_industry_oil, Annual_CO2_other_industry_coal
Expected: Annual_CO2_other_industry_other but found: Annual_CO2_industry_other
CSV file: file:///Users/mariamjoan/Desktop/Spark/CO2.csv

29457

## Dataset #2 Quality

In [40]:
co2tx.describe().show()
co2tx.explain()

23/11/26 10:54:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Entity, Year, Annual_CO2_industry_other, Annual_CO2_flaring, Annual_CO2_other_cement, Annual_CO2_other_gas, Annual_CO2_other_oil, Annual_CO2_other_coal
 Schema: Entity, Year, Annual_CO2_other_industry_other, Annual_CO2_other_industry_flaring, Annual_CO2_other_industry_cement, Annual_CO2_other_industry_gas, Annual_CO2_other_industry_oil, Annual_CO2_other_industry_coal
Expected: Annual_CO2_other_industry_other but found: Annual_CO2_industry_other
CSV file: file:///Users/mariamjoan/Desktop/Spark/CO2.csv

+-------+-----------+------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|summary|    country|     year_measured|        co2_other_yr|      co2_flaring_yr|      co2_cement_yr|          co2_gas_yr|          co2_oil_yr|         co2_coal_yr|
+-------+-----------+------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|  count|      29457|             29457|                2386|               24875|              24974|               24943|               25042|               25069|
|   mean|       null|1937.0758393590659|1.8430048331300262E7|   3493834.438078785|  8392489.821707202|   5.0080670938516E7|1.1138560219004871E8|1.5439769972069743E8|
| stddev|       null| 67.96719006257644| 4.186320591625684E7|2.0297655092618626E7|6.300943499326838E7|3.0987496653119504E8| 6.250209486950399E8| 7.514527249915178E8|
|    min|Afghanistan|              1750|                 0.0|                 0.0|                0.0|                 0.0|                 0.0|                 0.0|
|    max|   Zimbabwe|              2021|        3.06638592E8|        4.39253984E8|       1.67259238E9|         7.9218294E9|       1.23456532E10|       1.50515128E10|
+-------+-----------+------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+

== Physical Plan ==
*(1) Project [Entity#716 AS country#734, Year#718 AS year_measured#735, Annual_CO2_other_industry_other#719 AS co2_other_yr#736, Annual_CO2_other_industry_flaring#720 AS co2_flaring_yr#737, Annual_CO2_other_industry_cement#721 AS co2_cement_yr#738, Annual_CO2_other_industry_gas#722 AS co2_gas_yr#739, Annual_CO2_other_industry_oil#723 AS co2_oil_yr#740, Annual_CO2_other_industry_coal#724 AS co2_coal_yr#741]
+- FileScan csv [Entity#716,Year#718,Annual_CO2_other_industry_other#719,Annual_CO2_other_industry_flaring#720,Annual_CO2_other_industry_cement#721,Annual_CO2_other_industry_gas#722,Annual_CO2_other_industry_oil#723,Annual_CO2_other_industry_coal#724] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/CO2.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Entity:string,Year:int,Annual_CO2_other_industry_other:float,Annual_CO2_other_industry_fla...

## Save Dataset #2 as Table in Spark Database

In [41]:
co2tx.write.mode("overwrite").saveAsTable(f"{DATABASE}.global_co2_emissions_country_f")

23/11/26 10:54:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Entity, Year, Annual_CO2_industry_other, Annual_CO2_flaring, Annual_CO2_other_cement, Annual_CO2_other_gas, Annual_CO2_other_oil, Annual_CO2_other_coal
 Schema: Entity, Year, Annual_CO2_other_industry_other, Annual_CO2_other_industry_flaring, Annual_CO2_other_industry_cement, Annual_CO2_other_industry_gas, Annual_CO2_other_industry_oil, Annual_CO2_other_industry_coal
Expected: Annual_CO2_other_industry_other but found: Annual_CO2_industry_other
CSV file: file:///Users/mariamjoan/Desktop/Spark/CO2.csv

### Build Emissions Table to Fit Schema and ERD

In [42]:
co2_dm = spark.sql(""" 
select
     monotonically_increasing_id() as emissions_id 
    ,country
    ,year_measured
    ,co2_coal_yr
    ,co2_oil_yr
    ,co2_gas_yr
    ,co2_cement_yr
    ,co2_flaring_yr
    ,co2_other_yr
    ,sum(co2_coal_yr + co2_oil_yr + co2_gas_yr + co2_cement_yr + co2_flaring_yr + co2_other_yr) cumulative_co2
from cmsi620_gpr3_db.global_co2_emissions_country_f
group by 1, 2, 3, 4, 5, 6, 7, 8, 9
""")

In [43]:
co2_dm.write.mode("overwrite").saveAsTable(f"{DATABASE}.global_co2_emissions_country_sum_f")

# Dataset #3 Sea Level Changes by Country

In [44]:
sea_level_schema = StructType([
    StructField("ObjectId", IntegerType(), True),
    StructField("Country", StringType(), True),
#     StructField("ISO2", IntegerType(), True),
#     StructField("ISO3", FloatType(), True),
#     StructField("Indicator", FloatType(), True),
#     StructField("Unit", FloatType(), True),
#     StructField("Source", FloatType(), True),
#     StructField("CTS_Code", FloatType(), True),
#     StructField("CTS_Name", FloatType(), True),
#     StructField("CTS_Full_Descriptor", FloatType(), True),
    StructField("Measure", StringType(), True),
    StructField("Date", StringType(), True),
    StructField("Value", FloatType(), True)
])

In [56]:
sea = spark.read.csv(
    path=SEA_LEVEL_CSV_FILE_LOCATION,
    sep=",",
    header=True,
    quote='"',
    encoding="UTF-8",
    schema =sea_level_schema
)

sea_country = spark.read.csv(
    path=SEA_COUNTRY_CSV_FILE_LOCATION,
    sep=",",
    header=True,
    quote='"',
    encoding="UTF-8"
)

In [57]:
seat = sea.selectExpr(
    "ObjectId as id",
    "Country as country",
    "Measure as sea_name",
    "Date    as date_measured",
    "Value as sea_level"
)

In [58]:
seat = seat.withColumn(
    "date_measured",
    date_format(to_date(col("date_measured"), 'MM/dd/yyyy'), 'yyyyMMdd')
)

In [59]:
seat = seat.withColumn(
    "year_measured",
    year(to_date("date_measured", 'yyyyMMdd'))
)

In [60]:
sea_country.show(1)
sea_country.printSchema()
sea_country.count()

+-------+-------------+
|country|          sea|
+-------+-------------+
| Belize|Caribbean Sea|
+-------+-------------+
only showing top 1 row

root
 |-- country: string (nullable = true)
 |-- sea: string (nullable = true)

243

In [61]:
seat.show(3)
seat.printSchema()
seat.count()

+---+-------+--------------+-------------+---------+-------------+
| id|country|      sea_name|date_measured|sea_level|year_measured|
+---+-------+--------------+-------------+---------+-------------+
|  1|  World|   Andaman Sea|     19921217|   -10.34|         1992|
|  2|  World|   Arabian Sea|     19921217|   -18.46|         1992|
|  3|  World|Atlantic Ocean|     19921217|   -15.41|         1992|
+---+-------+--------------+-------------+---------+-------------+
only showing top 3 rows

root
 |-- id: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- sea_name: string (nullable = true)
 |-- date_measured: string (nullable = true)
 |-- sea_level: float (nullable = true)
 |-- year_measured: integer (nullable = true)

35604

## Save Dataset #3 as Table in Spark Database

In [62]:
seat.write.mode("overwrite").saveAsTable(f"{DATABASE}.sea_level_f")

In [65]:
sea_country.write.mode("overwrite").saveAsTable(f"{DATABASE}.sea_level_country_f")

23/11/25 23:13:36 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
23/11/25 23:13:36 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
23/11/25 23:13:36 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/11/25 23:13:36 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

# Performance 
1. Using TimeIt from Python

## Dataset #1

In [70]:
%%timeit
query = "select * from cmsi620_gpr3_db.global_temp_f"
result = spark.sql(query)

6.03 ms Â± 105 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## Dataset #2

In [71]:
%%timeit
query = f"select * from {DATABASE}.global_co2_emissions_country_sum_f"
result = spark.sql(query)

6.46 ms Â± 206 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## Dataset # 3

In [73]:
%%timeit
query = f"select * from {DATABASE}.sea_level_f"
result = spark.sql(query)

6.11 ms Â± 334 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## All Datasets # 4

In [124]:
%%timeit
query = spark.sql("""
with base as ( 
select
     coalesce( f.country, e.country, f.country )  country  
    ,s.sea_name 
    ,cast( f.date_measured as int ) as date_measured
    ,year( to_date( f.date_measured, 'yyyyMMdd')) as year_measured
    
    ,max( f.avg_temp  )  avg_temp_celsius
    ,max( round( ((f.avg_temp * 9/5) + 32) ,2)) avg_temp_faranheit
    ,max( cast( e.cumulative_co2 as int ))  cumulative_co2
    ,max( s.sea_level )  sea_level_mm 
    ,max( (s.sea_level *1.0 / 25.4 ) ) as sea_level_inches
from cmsi620_gpr3_db.global_temp_f f
    left join cmsi620_gpr3_db.global_temp_city_f c on f.country = c.country    
    left join cmsi620_gpr3_db.sea_level_country_f l on f.country  = l.country
    left join cmsi620_gpr3_db.sea_level_f s         on s.sea_name = l.sea and f.date_measured = s.date_measured
    left join cmsi620_gpr3_db.global_co2_emissions_country_sum_f e on f.country = e.country and year( to_date( f.date_measured, 'yyyyMMdd')) = e.year_measured
group by 1, 2, 3, 4
)

select 
     country
    ,sea_name
    ,year_measured
    ,date_measured
    ,avg_temp_faranheit
    ,avg_temp_celsius
    ,cumulative_co2
    ,sea_level_mm
    ,sea_level_inches
    ,row_number() over( partition by country order by year_measured, date_measured desc ) as rn 
from base
order by 1
""")

55.3 ms Â± 11.6 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [123]:
%%timeit
query = spark.sql("""
with base as ( 
select
     coalesce( f.country, e.country, f.country )  country  
    ,s.sea_name 
    ,cast( f.date_measured as int ) as date_measured
    ,year( to_date( f.date_measured, 'yyyyMMdd')) as year_measured
    
    ,f.avg_temp    avg_temp_celsius
    ,round( ((f.avg_temp * 9/5) + 32) ,2) avg_temp_faranheit
    ,cast( e.cumulative_co2 as int )  cumulative_co2
    ,s.sea_level   sea_level_mm 
    ,(s.sea_level *1.0 / 25.4 )  as sea_level_inches
from cmsi620_gpr3_db.global_temp_f f
    left join cmsi620_gpr3_db.global_temp_city_f c on f.country = c.country    
    left join cmsi620_gpr3_db.sea_level_country_f l on f.country  = l.country
    left join cmsi620_gpr3_db.sea_level_f s         on s.sea_name = l.sea and f.date_measured = s.date_measured
    left join cmsi620_gpr3_db.global_co2_emissions_country_sum_f e on f.country = e.country and year( to_date( f.date_measured, 'yyyyMMdd')) = e.year_measured
)

select 
     country
    ,sea_name
    ,year_measured
    ,date_measured
    ,avg_temp_faranheit
    ,avg_temp_celsius
    ,cumulative_co2
    ,sea_level_mm
    ,sea_level_inches
    ,row_number() over( partition by country order by year_measured, date_measured desc ) as rn 
from base
order by 1
""")

51.9 ms Â± 2.44 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

# Querying All (3) Datasets
- LEFT JOIN and GROUPBY and WINDOW FUNCTION

In [78]:
fq = spark.sql("""
with base as ( 
select
     coalesce( f.country, e.country, f.country )  country  
    ,s.sea_name 
    ,cast( f.date_measured as int ) as date_measured
    ,year( to_date( f.date_measured, 'yyyyMMdd')) as year_measured
    
    ,max( f.avg_temp  )  avg_temp_celsius
    ,max( cast( e.cumulative_co2 as int ))  cumulative_co2
    ,max( s.sea_level )  sea_level_mm 
    ,max( (s.sea_level *1.0 / 25.4 ) ) as sea_level_inches
from cmsi620_gpr3_db.global_temp_f f
    left join cmsi620_gpr3_db.global_temp_city_f c on f.country = c.country    
    left join cmsi620_gpr3_db.sea_level_country_f l on f.country  = l.country
    left join cmsi620_gpr3_db.sea_level_f s         on s.sea_name = l.sea and f.date_measured = s.date_measured
    left join cmsi620_gpr3_db.global_co2_emissions_country_sum_f e on f.country = e.country and year( to_date( f.date_measured, 'yyyyMMdd')) = e.year_measured
where 1=1
    and sea_name is not null
group by 1, 2, 3, 4
)

select 
     country
    ,sea_name
    ,year_measured
    ,date_measured
    ,avg_temp_faranheit
    ,avg_temp_celsius
    ,cumulative_co2
    ,sea_level_mm
    ,sea_level_inches
    ,row_number() over( partition by country order by year_measured, date_measured desc ) as rn 
from base
order by 1
""")

In [79]:
fq.show(100, truncate=False)

+---------+--------------+-------------+-------------+------------------+----------------+--------------+------------+---------------------+---+
|country  |sea_name      |year_measured|date_measured|avg_temp_faranheit|avg_temp_celsius|cumulative_co2|sea_level_mm|sea_level_inches     |rn |
+---------+--------------+-------------+-------------+------------------+----------------+--------------+------------+---------------------+---+
|Albania  |Adriatic Sea  |1993         |19931001     |65.44             |18.577          |null          |5.99        |0.23582676264244742  |1  |
|Albania  |Adriatic Sea  |1993         |19930901     |69.92             |21.068          |null          |-11.91      |-0.46889763178787836 |2  |
|Albania  |Adriatic Sea  |1993         |19930701     |75.13             |23.961          |null          |-89.61      |-3.527952779935101   |3  |
|Albania  |Adriatic Sea  |1994         |19941201     |49.58             |9.764           |null          |24.19       |0.9523622257502999   |4  |
|Albania  |Adriatic Sea  |1994         |19941101     |56.14             |13.412          |null          |33.19       |1.3066928593192515   |5  |
|Albania  |Adriatic Sea  |1997         |19970601     |73.36             |22.978          |null          |-46.61      |-1.8350393941083294  |6  |
|Albania  |Adriatic Sea  |1999         |19991001     |64.83             |18.24           |null          |68.99       |2.716141648179903    |7  |
|Albania  |Adriatic Sea  |2000         |20001201     |51.83             |11.016          |null          |130.49      |5.137401791069451    |8  |
|Albania  |Adriatic Sea  |2002         |20020501     |65.81             |18.783          |null          |-28.11      |-1.106692937415416   |9  |
|Albania  |Adriatic Sea  |2002         |20020401     |57.12             |13.958          |null          |-93.51      |-3.6814961470956877  |10 |
|Albania  |Adriatic Sea  |2002         |20020101     |44.7              |7.056           |null          |-8.01       |-0.31535433971975735 |11 |
|Albania  |Adriatic Sea  |2003         |20030601     |77.66             |25.364          |null          |-8.61       |-0.33897636443611207 |12 |
|Albania  |Adriatic Sea  |2003         |20030101     |49.75             |9.862           |null          |133.49      |5.255512027289924    |13 |
|Albania  |Adriatic Sea  |2004         |20040401     |58.31             |14.615          |null          |-56.31      |-2.216929187924843   |14 |
|Albania  |Adriatic Sea  |2005         |20050701     |76.97             |24.983          |null          |-3.81       |-0.14999999774722603 |15 |
|Albania  |Adriatic Sea  |2005         |20050601     |71.54             |21.966          |null          |-64.21      |-2.5279527198611285  |16 |
|Albania  |Adriatic Sea  |2007         |20070301     |54.51             |12.506          |null          |14.39       |0.56653544658751     |17 |
|Albania  |Adriatic Sea  |2008         |20080201     |48.67             |9.263           |null          |-57.11      |-2.248425220879983   |18 |
|Albania  |Adriatic Sea  |2009         |20091001     |61.76             |16.535          |null          |73.09       |2.877558910940576    |19 |
|Albania  |Adriatic Sea  |2009         |20090901     |72.03             |22.24           |null          |62.29       |2.4523622407687933   |20 |
|Albania  |Adriatic Sea  |2009         |20090601     |71.39             |21.885          |null          |-8.67       |-0.341338585680864   |21 |
|Albania  |Adriatic Sea  |2010         |20101201     |50.26             |10.146          |null          |207.29      |8.161023357721765    |22 |
|Albania  |Adriatic Sea  |2010         |20101101     |59.41             |15.225          |null          |110.59      |4.3539368636964815   |23 |
|Albania  |Adriatic Sea  |2010         |20100801     |78.5              |25.832          |null          |9.43        |0.37125985453447957  |24 |
|Albania  |Adriatic Sea  |2010         |20100701     |77.44             |25.246          |null          |32.33       |1.2728347177580586   |25 |
|Albania  |Adriatic Sea  |2011         |20111001     |61.26             |16.255          |null          |26.63       |1.0484251638097088   |26 |
|Albania  |Adriatic Sea  |2011         |20110901     |75.4              |24.11           |null          |94.53       |3.721653495247909    |27 |
|Albania  |Adriatic Sea  |2012         |20121201     |47.58             |8.653           |null          |58.93       |2.3200787521722748   |28 |
|Albania  |Adriatic Sea  |2012         |20121101     |59.51             |15.284          |null          |165.03      |6.497244046429011    |29 |
|Albania  |Adriatic Sea  |2012         |20120801     |79.82             |26.566          |null          |55.49       |2.1846457353727087   |30 |
|Albania  |Adriatic Sea  |2012         |20120601     |74.89             |23.829          |null          |10.69       |0.420866125211941    |31 |
|Albania  |Adriatic Sea  |2012         |20120101     |44.04             |6.688           |null          |16.39       |0.645275566521592    |32 |
|Angola   |Atlantic Ocean|1996         |19960101     |77.45             |25.251          |null          |-10.31      |-0.4059055283313661  |1  |
|Angola   |Atlantic Ocean|1997         |19970501     |75.35             |24.085          |null          |-15.01      |-0.5909448909008597  |2  |
|Angola   |Atlantic Ocean|1997         |19970401     |78.46             |25.809          |null          |-29.31      |-1.1539369868481253  |3  |
|Angola   |Atlantic Ocean|1997         |19970201     |78.63             |25.904          |null          |-1.91       |-0.07519684907958264 |4  |
|Angola   |Atlantic Ocean|1998         |19980701     |71.61             |22.007          |null          |-2.81       |-0.11062991900706855 |5  |
|Angola   |Atlantic Ocean|1998         |19980601     |74.62             |23.68           |null          |-29.21      |-1.1499999639556164  |6  |
|Angola   |Atlantic Ocean|2000         |20001001     |76.42             |24.677          |null          |11.79       |0.4641732268446074   |7  |
|Angola   |Atlantic Ocean|2002         |20020301     |81.56             |27.533          |null          |18.99       |0.7476377862644947   |8  |
|Angola   |Atlantic Ocean|2002         |20020101     |78.31             |25.729          |null          |23.79       |0.9366142092727301   |9  |
|Angola   |Atlantic Ocean|2003         |20030501     |78.49             |25.827          |null          |25.09       |0.9877952815979485   |10 |
|Angola   |Atlantic Ocean|2003         |20030401     |81.69             |27.607          |null          |-2.61       |-0.10275590138172541 |11 |
|Angola   |Atlantic Ocean|2003         |20030201     |80.7              |27.057          |null          |-0.55       |-0.021653543776414527|12 |
|Angola   |Atlantic Ocean|2004         |20040701     |68.54             |20.302          |null          |9.15        |0.3602362054539478   |13 |
|Angola   |Atlantic Ocean|2004         |20040601     |70.8              |21.553          |null          |-2.15       |-0.08464567304596188 |14 |
|Angola   |Atlantic Ocean|2005         |20050801     |70.33             |21.295          |null          |4.89        |0.19251967978289747  |15 |
|Angola   |Atlantic Ocean|2009         |20090501     |77.78             |25.436          |null          |15.52       |0.6110236400694359   |16 |
|Angola   |Atlantic Ocean|2009         |20090401     |80.02             |26.676          |null          |9.62        |0.37874015297476704  |17 |
|Angola   |Atlantic Ocean|2009         |20090201     |77.65             |25.362          |null          |19.02       |0.7488189156599871   |18 |
|Angola   |Atlantic Ocean|2010         |20100701     |70.68             |21.488          |null          |29.12       |1.1464567259540708   |19 |
|Angola   |Atlantic Ocean|2010         |20100601     |73.37             |22.985          |null          |23.72       |0.9338582406832477   |20 |
|Angola   |Atlantic Ocean|2011         |20110801     |70.22             |21.234          |null          |17.92       |0.7055118140273208   |21 |
|Angola   |Atlantic Ocean|2011         |20110301     |80.81             |27.115          |null          |26.05       |1.025590521144116    |22 |
|Angola   |Atlantic Ocean|2012         |20121101     |78.76             |25.976          |null          |69.75       |2.7460629921259843   |23 |
|Angola   |Atlantic Ocean|2012         |20121001     |76.39             |24.659          |null          |51.52       |2.0283464747151054   |24 |
|Angola   |Atlantic Ocean|2012         |20120901     |75.85             |24.363          |null          |45.12       |1.7763779107041247   |25 |
|Angola   |Atlantic Ocean|2012         |20120801     |71.92             |22.177          |null          |35.25       |1.3877952755905512   |26 |
|Angola   |Atlantic Ocean|2012         |20120201     |76.37             |24.652          |null          |16.45       |0.647637825312577    |27 |
|Angola   |Atlantic Ocean|2013         |20130401     |80.57             |26.983          |null          |36.75       |1.4468503937007875   |28 |
|Argentina|Atlantic Ocean|1996         |19960101     |82.46             |28.031          |null          |-10.31      |-0.4059055283313661  |1  |
|Argentina|Atlantic Ocean|1997         |19970501     |69.56             |20.867          |null          |-15.01      |-0.5909448909008597  |2  |
|Argentina|Atlantic Ocean|1997         |19970401     |72.91             |22.729          |null          |-29.31      |-1.1539369868481253  |3  |
|Argentina|Atlantic Ocean|1997         |19970201     |80.89             |27.161          |null          |-1.91       |-0.07519684907958264 |4  |
|Argentina|Atlantic Ocean|1998         |19980701     |67.66             |19.809          |null          |-2.81       |-0.11062991900706855 |5  |
|Argentina|Atlantic Ocean|1998         |19980601     |64.75             |18.193          |null          |-29.21      |-1.1499999639556164  |6  |
|Argentina|Atlantic Ocean|2000         |20001001     |77.53             |25.292          |null          |11.79       |0.4641732268446074   |7  |
|Argentina|Atlantic Ocean|2002         |20020301     |83.17             |28.427          |null          |18.99       |0.7476377862644947   |8  |
|Argentina|Atlantic Ocean|2002         |20020101     |82.12             |27.846          |null          |23.79       |0.9366142092727301   |9  |
|Argentina|Atlantic Ocean|2003         |20030501     |69.44             |20.802          |null          |25.09       |0.9877952815979485   |10 |
|Argentina|Atlantic Ocean|2003         |20030401     |74.41             |23.56           |null          |-2.61       |-0.10275590138172541 |11 |
|Argentina|Atlantic Ocean|2003         |20030201     |81.51             |27.507          |null          |-0.55       |-0.021653543776414527|12 |
|Argentina|Atlantic Ocean|2004         |20040701     |64.32             |17.955          |null          |9.15        |0.3602362054539478   |13 |
|Argentina|Atlantic Ocean|2004         |20040601     |66.59             |19.217          |null          |-2.15       |-0.08464567304596188 |14 |
|Argentina|Atlantic Ocean|2005         |20050801     |69.92             |21.067          |null          |4.89        |0.19251967978289747  |15 |
|Argentina|Atlantic Ocean|2009         |20090501     |70.6              |21.446          |null          |15.52       |0.6110236400694359   |16 |
|Argentina|Atlantic Ocean|2009         |20090401     |77.52             |25.288          |null          |9.62        |0.37874015297476704  |17 |
|Argentina|Atlantic Ocean|2009         |20090201     |81.33             |27.403          |null          |19.02       |0.7488189156599871   |18 |
|Argentina|Atlantic Ocean|2010         |20100701     |62.66             |17.034          |null          |29.12       |1.1464567259540708   |19 |
|Argentina|Atlantic Ocean|2010         |20100601     |65.78             |18.765          |null          |23.72       |0.9338582406832477   |20 |
|Argentina|Atlantic Ocean|2011         |20110801     |66.27             |19.041          |null          |17.92       |0.7055118140273208   |21 |
|Argentina|Atlantic Ocean|2011         |20110301     |78.74             |25.967          |null          |26.05       |1.025590521144116    |22 |
|Argentina|Atlantic Ocean|2012         |20121101     |80.64             |27.025          |null          |69.75       |2.7460629921259843   |23 |
|Argentina|Atlantic Ocean|2012         |20121001     |79.46             |26.368          |null          |51.52       |2.0283464747151054   |24 |
|Argentina|Atlantic Ocean|2012         |20120901     |74.4              |23.558          |null          |45.12       |1.7763779107041247   |25 |
|Argentina|Atlantic Ocean|2012         |20120801     |70.37             |21.315          |null          |35.25       |1.3877952755905512   |26 |
|Argentina|Atlantic Ocean|2012         |20120201     |83.28             |28.488          |null          |16.45       |0.647637825312577    |27 |
|Argentina|Atlantic Ocean|2013         |20130401     |74.08             |23.376          |null          |36.75       |1.4468503937007875   |28 |
|Australia|Indian Ocean  |1996         |19960101     |81.21             |27.339          |311886144     |1.67        |0.06574802980648252  |1  |
|Australia|Indian Ocean  |1997         |19970501     |73.32             |22.955          |320282624     |-14.63      |-0.5759842564740519  |2  |
|Australia|Indian Ocean  |1997         |19970401     |75.55             |24.197          |320282624     |2.97        |0.11692913498465471  |3  |
|Australia|Indian Ocean  |1997         |19970201     |80.84             |27.131          |320282624     |-8.43       |-0.3318897757943221  |4  |
|Australia|Indian Ocean  |1998         |19980701     |73.21             |22.897          |334075968     |12.87       |0.5066929088802788   |5  |
|Australia|Indian Ocean  |1998         |19980601     |73.59             |23.108          |334075968     |-18.43      |-0.725590563195897   |6  |
|Australia|Indian Ocean  |1999         |19990801     |70.02             |21.124          |343488640     |-11.23      |-0.44212596622977673 |7  |
|Australia|Indian Ocean  |2000         |20001001     |75.47             |24.152          |349635520     |6.07        |0.23897638471107785  |8  |
|Australia|Indian Ocean  |2000         |20000901     |72.44             |22.466          |349635520     |-31.73      |-1.2492125804030052  |9  |
|Australia|Indian Ocean  |2002         |20020301     |80.68             |27.047          |361540800     |8.97        |0.35314961681215784  |10 |
|Australia|Indian Ocean  |2003         |20030501     |75.54             |24.191          |369279488     |41.17       |1.6208660696435164   |11 |
|Australia|Indian Ocean  |2003         |20030401     |78.23             |25.682          |369279488     |37.77       |1.48700789203794     |12 |
+---------+--------------+-------------+-------------+------------------+----------------+--------------+------------+---------------------+---+
only showing top 100 rows

In [80]:
fq.describe().show()
fq.explain()

23/11/26 17:10:31 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------+------------+------------------+-------------------+------------------+------------------+--------------------+------------------+-------------------+-----------------+
|summary|country|    sea_name|     year_measured|      date_measured|avg_temp_faranheit|  avg_temp_celsius|      cumulative_co2|      sea_level_mm|   sea_level_inches|               rn|
+-------+-------+------------+------------------+-------------------+------------------+------------------+--------------------+------------------+-------------------+-----------------+
|  count|   2758|        2758|              2758|               2758|              2758|              2758|                 693|              2758|               2758|             2758|
|   mean|   null|        null|2005.1145757795505|2.005176521319797E7| 72.53365482233514|22.518680928124045|2.6457746055122656E8|16.312461903814476| 0.6422229095989934|15.41841914430747|
| stddev|   null|        null|5.7626174524599225|  57677.27896205512|15.499062830542268| 8.610538849318475| 4.469492425517778E8| 55.91360982402635|  2.201323221418358|8.712869179492145|
|    min|Albania|Adriatic Sea|              1993|           19930701|              16.9|            -8.391|             7456007|           -347.75|-13.690944881889765|                1|
|    max|  Yemen|Persian Gulf|              2013|           20130401|             101.1|            38.389|          2147483647|            290.95| 11.454724890040602|               33|
+-------+-------+------------+------------------+-------------------+------------------+------------------+--------------------+------------------+-------------------+-----------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [country#2966 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(country#2966 ASC NULLS FIRST, 107), ENSURE_REQUIREMENTS, [plan_id=17132]
      +- Window [row_number() windowspecdefinition(country#2966, year_measured#2968 ASC NULLS FIRST, date_measured#2967 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rn#2965], [country#2966], [year_measured#2968 ASC NULLS FIRST, date_measured#2967 DESC NULLS LAST]
         +- Sort [country#2966 ASC NULLS FIRST, year_measured#2968 ASC NULLS FIRST, date_measured#2967 DESC NULLS LAST], false, 0
            +- Exchange hashpartitioning(country#2966, 107), ENSURE_REQUIREMENTS, [plan_id=17128]
               +- HashAggregate(keys=[_groupingexpression#4956, sea_name#19, _groupingexpression#4957, _groupingexpression#4958], functions=[max(round(((cast((avg_temp#9 * 9.0) as double) / 5.0) + 32.0), 2)), max(avg_temp#9), max(cast(cumulative_co2#32 as int)), max(sea_level#21), max(((cast(sea_level#21 as double) * 1.0) / 25.4))])
                  +- Exchange hashpartitioning(_groupingexpression#4956, sea_name#19, _groupingexpression#4957, _groupingexpression#4958, 107), ENSURE_REQUIREMENTS, [plan_id=17125]
                     +- HashAggregate(keys=[_groupingexpression#4956, sea_name#19, _groupingexpression#4957, _groupingexpression#4958], functions=[partial_max(round(((cast((avg_temp#9 * 9.0) as double) / 5.0) + 32.0), 2)), partial_max(avg_temp#9), partial_max(cast(cumulative_co2#32 as int)), partial_max(sea_level#21), partial_max(((cast(sea_level#21 as double) * 1.0) / 25.4))])
                        +- Project [avg_temp#9, sea_name#19, sea_level#21, cumulative_co2#32, coalesce(country#7, country#24, country#7) AS _groupingexpression#4956, cast(date_measured#8 as int) AS _groupingexpression#4957, year(cast(gettimestamp(date_measured#8, yyyyMMdd, TimestampType, Some(America/Los_Angeles), false) as date)) AS _groupingexpression#4958]
                           +- BroadcastHashJoin [country#7, year(cast(gettimestamp(date_measured#8, yyyyMMdd, TimestampType, Some(America/Los_Angeles), false) as date))], [country#24, year_measured#25], LeftOuter, BuildRight, false
                              :- Project [country#7, date_measured#8, avg_temp#9, sea_name#19, sea_level#21]
                              :  +- BroadcastHashJoin [sea#16, date_measured#8], [sea_name#19, date_measured#20], Inner, BuildRight, false
                              :     :- Project [country#7, date_measured#8, avg_temp#9, sea#16]
                              :     :  +- BroadcastHashJoin [country#7], [country#15], Inner, BuildRight, false
                              :     :     :- Project [country#7, date_measured#8, avg_temp#9]
                              :     :     :  +- BroadcastHashJoin [country#7], [country#12], LeftOuter, BuildRight, false
                              :     :     :     :- Filter isnotnull(date_measured#8)
                              :     :     :     :  +- FileScan parquet spark_catalog.cmsi620_gpr3_db.global_temp_f[country#7,date_measured#8,avg_temp#9] Batched: true, DataFilters: [isnotnull(date_measured#8)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.d..., PartitionFilters: [], PushedFilters: [IsNotNull(date_measured)], ReadSchema: struct<country:string,date_measured:string,avg_temp:float>
                              :     :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=17108]
                              :     :     :        +- Filter isnotnull(country#12)
                              :     :     :           +- FileScan parquet spark_catalog.cmsi620_gpr3_db.global_temp_city_f[country#12] Batched: true, DataFilters: [isnotnull(country#12)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.d..., PartitionFilters: [], PushedFilters: [IsNotNull(country)], ReadSchema: struct<country:string>
                              :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=17112]
                              :     :        +- Filter (isnotnull(country#15) AND isnotnull(sea#16))
                              :     :           +- FileScan parquet spark_catalog.cmsi620_gpr3_db.sea_level_country_f[country#15,sea#16] Batched: true, DataFilters: [isnotnull(country#15), isnotnull(sea#16)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.d..., PartitionFilters: [], PushedFilters: [IsNotNull(country), IsNotNull(sea)], ReadSchema: struct<country:string,sea:string>
                              :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false], input[1, string, false]),false), [plan_id=17116]
                              :        +- Filter (isnotnull(sea_name#19) AND isnotnull(date_measured#20))
                              :           +- FileScan parquet spark_catalog.cmsi620_gpr3_db.sea_level_f[sea_name#19,date_measured#20,sea_level#21] Batched: true, DataFilters: [isnotnull(sea_name#19), isnotnull(date_measured#20)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.d..., PartitionFilters: [], PushedFilters: [IsNotNull(sea_name), IsNotNull(date_measured)], ReadSchema: struct<sea_name:string,date_measured:string,sea_level:float>
                              +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false], input[1, int, false]),false), [plan_id=17120]
                                 +- Filter (isnotnull(country#24) AND isnotnull(year_measured#25))
                                    +- FileScan parquet spark_catalog.cmsi620_gpr3_db.global_co2_emissions_country_sum_f[country#24,year_measured#25,cumulative_co2#32] Batched: true, DataFilters: [isnotnull(country#24), isnotnull(year_measured#25)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/mariamjoan/Desktop/Spark/spark-warehouse/cmsi620_gpr3_db.d..., PartitionFilters: [], PushedFilters: [IsNotNull(country), IsNotNull(year_measured)], ReadSchema: struct<country:string,year_measured:int,cumulative_co2:double>

# CRUD Operations

### 1. Create:

In [ ]:
spark.sql("""
CREATE TABLE global_temp_city_d (
    dt STRING, 
    AverageTemperature FLOAT, 
    AverageTemperatureUncertainty FLOAT, 
    City STRING, 
    Country STRING, 
    Latitude STRING, 
    Longitude STRING
)
USING CSV
PARTITIONED BY (snapshot_date, country)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
  'separatorChar' = ',',
  'quoteChar' = '"',
  'escapeChar' = '\\'
)
STORED AS TEXTFILE
LOCATION file:///Users/mariamjoan/Desktop/Spark/spark-warehouse';
""")

### 2. Read

In [18]:
spark.sql(f"select max(avg_temp) max_avg_temp from {DATABASE}.global_temp_f ").show(3)

+------------+
|max_avg_temp|
+------------+
|      39.651|
+------------+

### 3. **Update** 

Spark does not have a concept of UPDATE in the traditional RDBMS sense. You can only perform "update" like operations on the RDD or Spark DataFrame but, you will need to perform a WRITE action in order for that change to be reflected back to the database.

In [41]:
update_df = spark.sql(f"select * from {DATABASE}.global_temp_f ")

In [46]:
update_df = update_df.withColumn("year", year("date_collected"))

### 4. Delete 
Spark does not have a concept of DELETE because Spark DataFrames are an immutable object, and we cannot delete rows â€œin placeâ€.

In [86]:
ddf = spark.sql(f""" select * from {DATABASE}.global_temp_f where 1=1 and date_measured > 20000101""")

In [93]:
us_df= ddf.filter('country = "United States" ')
us_df.show(4)

+-----------+-------------+-------------+--------+--------------------+
|       city|      country|date_measured|avg_temp|avg_temp_uncertainty|
+-----------+-------------+-------------+--------+--------------------+
|Baton Rouge|United States|     20000201|  16.108|               0.265|
|Baton Rouge|United States|     20000301|  19.299|               0.327|
|Baton Rouge|United States|     20000401|   20.13|               0.194|
|Baton Rouge|United States|     20000501|  26.323|               0.271|
+-----------+-------------+-------------+--------+--------------------+
only showing top 4 rows

# ACID Operations

### 1. Atomicity

In [39]:
pwd_path = !pwd

In [55]:
update_df.withColumn("avg_temp_farenheit", expr("(avg_temp * 9/5) + 32")).show(2)

+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
| city|country|date_collected|avg_temp|avg_temp_uncertainty|date_collected_format|year|avg_temp_farenheit|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
|Namur|Belgium|    1866-07-01|  16.911|               0.652|             18660701|1866|62.439797973632814|
|Namur|Belgium|    1866-08-01|  15.738|               0.742|             18660801|1866|60.328399658203125|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
only showing top 2 rows

In [57]:
try:
    # Atomic Operation 1: Transform the DataFrame
    update_fdf = update_df.withColumn("avg_temp_farenheit", expr("(avg_temp * 9/5) + 32"))

    print("Transformed DataFrame:")
    update_fdf.show(3)

    # Atomic Operation 2: Write the transformed DataFrame to a temporary file
    update_fdf.write.mode("overwrite").parquet(pwd_path)

    # Atomic Operation 3: Simulate a failure (for demonstration purposes)
    raise Exception("Simulated failure")

except Exception as e:
    # Log the exception (simulating recovery or rollback)
    print(f"Exception: {e}")
    print("Rolling back changes...")

finally:
    # Atomic Operation 4: Read the original DataFrame from the temporary file (recovery)
    recovered_update_fdf = update_fdf

    # Show the recovered DataFrame
    print("Recovered DataFrame:")
    recovered_update_fdf.show(3)

Transformed DataFrame:
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
| city|country|date_collected|avg_temp|avg_temp_uncertainty|date_collected_format|year|avg_temp_farenheit|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
|Namur|Belgium|    1866-07-01|  16.911|               0.652|             18660701|1866|62.439797973632814|
|Namur|Belgium|    1866-08-01|  15.738|               0.742|             18660801|1866|60.328399658203125|
|Namur|Belgium|    1866-09-01|  14.752|               0.793|             18660901|1866| 58.55360107421875|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
only showing top 3 rows

Exception: An error occurred while calling o170.parquet. Trace:
py4j.Py4JException: Method parquet([class java.util.ArrayList]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:321)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:329)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:835)


Rolling back changes...
Recovered DataFrame:
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
| city|country|date_collected|avg_temp|avg_temp_uncertainty|date_collected_format|year|avg_temp_farenheit|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
|Namur|Belgium|    1866-07-01|  16.911|               0.652|             18660701|1866|62.439797973632814|
|Namur|Belgium|    1866-08-01|  15.738|               0.742|             18660801|1866|60.328399658203125|
|Namur|Belgium|    1866-09-01|  14.752|               0.793|             18660901|1866| 58.55360107421875|
+-----+-------+--------------+--------+--------------------+---------------------+----+------------------+
only showing top 3 rows

### 2. Consistency, 3. Isolation or Idempotency, 4. Durability

Spark is mainly designed for distributed processing of data, and transactional guarantees are handled at data storage level like as with HADOOP or distributed file systems, or databases that can be used in conjunction with Spark not by Spark alone however, Spark does by nature resolve many of these operations such as consistency, atomicity and durability. Spark can't require commits or writes to be isolated instances or isolated from other transactions without negative impact. Spark has multiple layers of commits, from task and job level, and these can happen at different times.

# Replication

This configuration `spark.sql.files.maxRecordsPerFile` controls the maximum number of records to write out to a single file when saving a DataFrame to a distributed file system.

In [120]:
spark.conf.set("spark.sql.files.maxRecordsPerFile", "1000")
spark.conf.set("spark.default.parallelism", "5")

In [121]:
ddf_repartition_replicated = ddf.repartition(8)  # update # of partitions to cache for faster memory access  
ddf_repartition_replicated.cache()

DataFrame[city: string, country: string, date_measured: string, avg_temp: float, avg_temp_uncertainty: float]

In [122]:
ddf_repartition_replicated.show()

+-----------+--------------------+-------------+--------+--------------------+
|       city|             country|date_measured|avg_temp|avg_temp_uncertainty|
+-----------+--------------------+-------------+--------+--------------------+
|      Cagua|           Venezuela|     20000401|  26.758|               0.369|
|   Borujerd|                Iran|     20050601|  21.506|               0.534|
|Bournemouth|      United Kingdom|     20120501|  12.128|               0.253|
|    Bristol|      United Kingdom|     20010601|    14.4|               0.236|
|    Bologna|               Italy|     20060201|   4.156|               0.299|
|    Brikama|              Gambia|     20100801|  28.567|               0.244|
|    Bikaner|               India|     20040101|  15.014|               0.436|
|     Brugge|             Belgium|     20061001|  14.137|               0.148|
|     Bozhou|               China|     20090501|  21.443|               0.485|
|     Bukavu|Congo (Democratic...|     20130801|  21.954|               0.688|
|    Bhiwani|               India|     20040801|  30.071|               0.456|
|      Breda|         Netherlands|     20080601|   16.37|               0.245|
| Cabanatuan|         Philippines|     20000901|  26.642|               0.255|
|     Beirut|             Lebanon|     20130601|  24.131|               0.856|
|     Brugge|             Belgium|     20050401|  10.668|               0.227|
|   BiÃªn HÃ²a|             Vietnam|     20110401|  27.888|               0.327|
|     Bokaro|               India|     20110501|  31.008|                0.29|
|     Bratsk|              Russia|     20090901|   6.952|               0.279|
|    Birigui|              Brazil|     20120201|  27.141|               0.272|
|   Bulawayo|            Zimbabwe|     20021101|  22.419|               0.271|
+-----------+--------------------+-------------+--------+--------------------+
only showing top 20 rows